<script>

    
function doConfirm(msg, yesFn, noFn)
{
    var confirmBox = $("#confirmBox");
    confirmBox.find(".message").text(msg);
    confirmBox.find(".yes,.no").unbind().click(function()
    {
        confirmBox.hide();
    });
    confirmBox.find(".yes").click(yesFn);
    confirmBox.find(".no").click(noFn);
    confirmBox.show();
}
    doConfirm("Are you sure?", function yes() {
        form.submit();
    }, function no() {
        // Do nothing
    });


        function doSomething() {
            document.getElementById('id_confrmdiv').style.display = "block"; //this is the replace of this line

            document.getElementById('id_truebtn').onclick = function () {
                // Do your delete operation
                alert('true');
            };
            document.getElementById('id_falsebtn').onclick = function () {
                alert('false');
                return false;
            };
        }
</script>
<style>
    body {
        font-family: sans-serif;
    }

    #id_confrmdiv {
        display: none;
        background-color: #eee;
        border-radius: 5px;
        border: 1px solid #aaa;
        position: fixed;
        width: 50%;
        height:50%;
        position:center;
        margin-left: -150px;
        padding: 6px 8px 8px;
        box-sizing: border-box;
        text-align: center;
    }

        #id_confrmdiv button {
            background-color: #ccc;
            display: inline-block;
            border-radius: 3px;
            border: 1px solid #aaa;
            padding: 2px;
            text-align: center;
            width: 80px;
            cursor: pointer;
        }

        #id_confrmdiv .button:hover {
            background-color: #ddd;
        }

    #confirmBox .message {
        text-align: left;
        margin-bottom: 8px;
    }
</style>
<div id="confirmBox">
    <div class="message"></div>
    <span class="yes">Yes</span>
    <span class="no">No</span>
</div>


<div id="id_confrmdiv">
    confirmation
    <button id="id_truebtn">Yes</button>
    <button id="id_falsebtn">No</button>
</div>

<button onclick="doSomething()">submit</button>

